.hajib-fb-rm-container {
    background-color: rgb(255, 190, 190);
    color: #222;
    font-weight: bold;
    padding: 5px 10px;
}

.hajib-fb-video-container {
    filter: blur(99px);
}

.hajib-fb-video-container_playing {
    filter: blur(0);
}